<!-- ko with: home -->
<div ng-app="myApp">
    <div ng-controller="shopController">

    </div>
</div>

@Scripts.Render("~/Scripts/angular.js")
<script>
    var shopTest = angular.module("myApp", []);
    shopTest.controller("shopController", ($scope, $http) =>{
        $scope.lShops = [];
        $http.get('@Url.Action("AllShopsList", "Home")')
            .success((data) => {
                $scope.lShops = data;
            }).error((data, status, headers, config) => {

            })
    })
</script>
<!-- /ko -->
